$baseColor: #e74c3c;
$green: #13a751;
$red: #c0392b;
$font: 'Arial', sans-serif;
$fontColor: #302c2c;
$fontSize: 14px;
$borderColor-300: #dcdcdc;
$borderColor-400: #ccc;

$transitionBase: all 0.10s ease-in-out 0s;
