*, ::after, ::before{
  box-sizing: inherit;
}

body {
  background: #fff;
  font-family: $font;
  font-size: $fontSize;
  font-weight: 500;
  color: $fontColor;
  word-wrap: break-word;
  box-sizing: border-box;
  margin: 0;
}
